{% extends "base_session.html.twig" %}

{% block title %}
Inicio
{% endblock %}

{% block container %}

<div class="container">
<div class="row">
<div class="col-sm-12 col-sm-offset-0 text-center well">
<ul>
{% if viajes %}
	{% for viaje in viajes %}
		<tr>
		<td>Origen: {{ viaje.id_origen }}</td>
		<td>Destino: {{ viaje.id_destino }}</td>
		<td>Fecha: {{ viaje.fecha }}</td>
		<td>Precio: {{ viaje.precio }}</td>
		<td>Duracion: {{ viaje.duracion }}</td>
		<td>Distancia: {{ viaje.distancia }}</h4>
		</tr>
	{% endfor %} 

{% else %}
	<h1>No hay viajes para mostrar</h1>
{% endif %}

</ul>
</div>
</div>
</div>

{% endblock %}