{% extends "base_session.html.twig" %}

{% block title %}
Inicio
{% endblock %}

{% block stylesheets %}
<script src="./templates/js/publicarViaje.js"></script>
<script src="./templates/js/validarModificacionDeViaje.js"></script>
{% endblock %}

{% block container %}
{% if viaje is defined %}
<div class="container">
	{% include 'errno.html.twig' %}
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 text-center well">

			<form method="post" action="./?action=modificarViajeOcasional" onsubmit="return validarModificacionDeViaje()"> 
				
				<div class="form-group">
					<p class="text-align: center h3">Modificar viaje!</p>
					<br>
					<label for="">Fecha</label>
					<input type="date" class="form-control" id="fecha" name="fecha" value="{{ viaje.0.fecha }}" required>
				</div>
				<div class="form-group">
					<label for="">Precio</label>
					<input type="text" class="form-control" id="precio" name="precio"  required value="{{ viaje.0.precio }}">
				</div>

				<div class="form-group">
					<label for="">Hora de salida</label>
					<input type="text" class="form-control" id="hora_salida" name="hora_salida" value="{{ viaje.0.hora_salida }}" required>
				</div>
				<div class="form-group">
					<label for="">Duracion</label>
					<input type="text" class="form-control" id="duracion" name="duracion" value="{{ viaje.0.duracion }}" required>
				</div>

				<div class="form-group">
					<label for="">Distancia</label>
					<input type="text" class="form-control" id="distancia" name="distancia" required value="{{ viaje.0.distancia }}" required>
				</div>

				<div class="form-group">
					<label for="">Origen</label>
					<select class="form-control" id="origen" name="origen" required>
						{% for each in ciudadesOrdenadas %}
							{% if each.id == viaje.0.origen_id %}
								<option value="{{ each.id }}" selected>{{ each.nombre }}</option>
							{% else %}
								<option value="{{ each.id }}">{{ each.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="">Destino</label>
					<select class="form-control" id="destino" name="destino" required>
						{% for each in ciudadesOrdenadas %}
							{% if each.id == viaje.0.destino_id %}
								<option value="{{ each.id }}" selected>{{ each.nombre }}</option>
							{% else %}
								<option value="{{ each.id }}">{{ each.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label for="">Vehiculo</label>
					<select class="form-control" id="vehiculo" name="vehiculo" required>
						{% if vectorForm is defined %}
							{% for each in vectorForm.vehiculos %}
								{% if viaje.0.vehiculo_id == each.id %}
	                    			<option selected="true" value={{ each.id }}>{{ each.marca }}-{{ each.patente }}-con {{ each.asientos }} asientos</option>
	                  			{% else %}
	                    			<option value={{ each.id }}>{{ each.marca }}-{{ each.patente }}-con {{ each.asientos }} asientos</option>
	                  			{% endif %}
							{% endfor %}
						{% endif %}
					</select>
				</div>
				<div class="form-group">
					<label for="">Comentarios</label>
					<textarea class="form-control" id="comentarios" name="comentarios" rows="5">{% if viaje.0.comentarios is defined %}{{ viaje.0.comentarios }}{% endif %}</textarea>
				</div>
				
				<input type="hidden" name="id" value="{{ viaje.0.id }}">
				<button type="submit" class="btn btn-primaryPink">Aceptar</button>
			</form>
			
			<form method="post" action="index.php?action=ver_publicacion_viaje" style="margin:0.5em;">
				<input type="hidden" name="id" value="{{ viaje.0.id }}">
				<input type="submit" class="btn btn-primaryPink" value="Cancelar">
			</form>
		</div>
	</div>
</div>

{% endif %}
{% endblock %}