{% extends "base_session.html.twig" %}

{% block title %}
Mi perfil
{% endblock %}

{% block stylesheets %}
<script src="./templates/js/ocultarSecciones.js"></script>
{% endblock %}

{% block container %}

<div class="container well">
	{% if nombre is defined %} <h3 style="text-align:center; color:black;"> {{ nombre }} </h3> {% endif %}
	{% if email is defined %} <h4 style="text-align:center; color:black;"> {{ email }} </h4> {% endif %}
</div>
<div class="container well">
	<div class="row row-list">
		<div id="calificaciones" class="col-xs-2 col-md-2 col-lg-2 botones-perfil">
			<form method="post" action="index.php?action=mostrar_calificacion">
				<input type="hidden" name="usuario_id" value="{{ usuario_id }}">
				<input type="submit" class="btn btn-primaryPink" style="width:14em;" value="Ver calificaciones detalladas">
			</form>
		</div>
		<div class="col-xs-12 col-md-12 col-lg-12" style="text-align:center; color:black;">
			<p style="text-align:center; color:black;"> Calificacion como piloto = {{ calificacion_piloto.0 }}</p><cr>
			<p style="text-align:center; color:black;"> Cantidad de calificaciones = {{ cantidadViajesPiloto.0 }}</p>
			<p style="text-align:center; color:black;"> Calificacion como copiloto = {{ calificacion_copiloto.0 }}</p><cr>
			<p style="text-align:center; color:black;"> Cantidad de calificaciones = {{ cantidadViajesCopiloto.0 }}</p>
		</div>
	</div>
</div>

{% endblock %}