{% extends "base_session.html.twig" %}

{% block title %}
Mi perfil
{% endblock %}

{% block stylesheets %}
<script src="./templates/js/ocultarSecciones.js"></script>
{% endblock %}

{% block container %}

<div class="container well">
	{% if nombre is defined %} <h3 style="text-align:center; color:black;"> {{ nombre }} </h3> {% endif %}
	{% if email is defined %} <h4 style="text-align:center; color:black;"> {{ email }} </h4> {% endif %}
</div>
<div class="container well">
	<div class="row row-list">
		<div id="calificaciones" class="col-xs-2 col-md-2 col-lg-3">
			<a class="btn btn-primaryPink" href="index.php?action=mostrar_calificacion">Ver calificaciones detalladas</a>
			<br>
			<br>
			<p style="text-align: left; color:black;"> Calificacion como piloto = {{ calificacion_piloto.0 }}</p><cr>
			<p style="text-align: left; color:black;"> Total viajes = {{ cantidadViajesPiloto.0 }}</p>
			<p style="text-align: left; color:black;"> Calificacion como copiloto = {{ calificacion_copiloto.0 }}</p><cr>
			<p style="text-align: left; color:black;"> Total viajes = {{ cantidadViajesCopiloto.0 }}</p>
			<br>
		</div>
		<div id="historialViajes" class="col-xs-2 col-md-2 col-lg-2">
			<a class="btn btn-primaryPink" href="index.php?action=mostrar_perfil">Mis proximos viajes</a>
		</div>
		<div id="historialViajesPiloto" class="col-xs-2 col-md-2 col-lg-3">
			<a class="btn btn-primaryPink" href="index.php?action=mostrar_viajes_hechos">Mi historial de viajes</a>
		</div>
		<div id="listaVehiculos" class="col-xs-2 col-md-2 col-lg-2">
			<a class="btn btn-primaryPink" href="index.php?action=lista_vehiculos">Ver vehiculos</a>
		</div>
		<div id="registrarVehiculo" class="col-xs-2 col-md-2 col-lg-2">
			<a class="btn btn-primaryPink" href="index.php?action=registrar_vehiculo">Registrar Vehiculo</a>
		</div>
	</div>
</div>
<div class="container well">	
	<div id="viajes_futuros" class="row">
		<div class="col-sm-12 col-sm-offset-0 text-center">
			<h2>{{ tituloDinamico }}</h2>
			<button id="boton1" class="btn btn-primaryPink" onclick="toggleVisibility('viajes_futuros_table', 'boton1')">Ver detalles</button>
			<div id="viajes_futuros_table" hidden>
				{% if viajes %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Origen</th>
								<th scope="col">Destino</th>
								<th scope="col">Fecha</th>
								<th scope="col">Hora de salida</th>
								<th scope="col">Precio</th>
								<th scope="col">Duracion</th>
								<th scope="col">Distancia</th>
								<th scope="col">Ver detalles</th>
							</tr>
						</thead>
						<tbody>
							{% for viaje in viajes %}
								<tr>
									<td>{{ ciudades[viaje.origen_id - 1].nombre }}</td>
									<td>{{ ciudades[viaje.destino_id - 1].nombre }}</td>
									<td>{{ viaje.fecha }}</td>
									<td>{{ viaje.hora_salida }}hs</td>
									<td>$ {{ viaje.precio }}</td>
									<td>{{ viaje.duracion }} horas</td>
									<td>{{ viaje.distancia }} kms</td>
									<td>
										<form method="post" class="pull-left" action="index.php?action=ver_publicacion_viaje">
											<input type="hidden" name="id" value="{{ viaje.id }}">
											<input type="submit" class="btn btn-primaryPink" value="Ver viaje">
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h3>No hay viajes para mostrar</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="container well">
	<div id="viajes_postulados" class="row">
		<div class="col-sm-12 col-sm-offset-0 text-center">
			<h2>{{ tituloDinamico2 }}</h2>
			<button id="boton2" class="btn btn-primaryPink" onclick="toggleVisibility('viajes_postulados_table', 'boton2')">Ver detalles</button>
			<div id="viajes_postulados_table" hidden>
				{% if postulaciones %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Origen</th>
								<th scope="col">Destino</th>
								<th scope="col">Fecha</th>
								<th scope="col">Hora de salida</th>
								<th scope="col">Precio</th>
								<th scope="col">Duracion</th>
								<th scope="col">Distancia</th>
								<th scope="col">Estado de la postulacion</th>
								<th scope="col">Ver</th>
							</tr>
						</thead>
						<tbody>
							{% for postulacion in postulaciones %}
								<tr>
									<td>{{ ciudades[postulacion.origen_id - 1].nombre }}</td>
									<td>{{ ciudades[postulacion.destino_id - 1].nombre }}</td>
									<td>{{ postulacion.fecha }}</td>
									<td>{{ postulacion.hora_salida }}hs</td>
									<td>$ {{ postulacion.precio }}</td>
									<td>{{ postulacion.duracion }} horas</td>
									<td>{{ postulacion.distancia }} kms</td>
									<td>{{ postulacion.estado }}</td>
									<td>
										<form method="post" class="pull-left" action="index.php?action=ver_publicacion_viaje">
											<input type="hidden" name="id" value="{{ postulacion.viaje_id }}">
											<input type="submit" class="btn btn-primaryPink" value="Ver viaje">
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h3>No hay viajes para mostrar</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="container well">
	<div id="calificacionesPendientesAPilotos" class="row">
		<div class="col-sm-12 col-sm-offset-0 text-center">
			<h2>Calificaciones pendientes a pilotos</h2>
			<button id="boton3" class="btn btn-primaryPink" onclick="toggleVisibility('calificacionesPendientesAPilotosTable', 'boton3')">Ver detalles</button>
			<div id="calificacionesPendientesAPilotosTable" hidden>
				{% if calificacionesPendientesAPilotos %}
					<table class="table table-striped">	
						<thead>
							<tr>
								<th scope="col">Piloto</th>
								<th scope="col">Origen</th>
								<th scope="col">Destino</th>
								<th scope="col">Fecha</th>
								<th scope="col">Hora de salida</th>
								<th scope="col">Precio</th>
								<th scope="col">Duracion</th>
								<th scope="col">Distancia</th>
								<th scope="col">Calificar</th>
							</tr>
						</thead>
						<tbody>
							{% for calificacion in calificacionesPendientesAPilotos %}
								<tr>
									<td><a href="#">{{ calificacion.email }}</a></td>
									<td>{{ ciudades[calificacion.origen_id - 1].nombre }}</td>
									<td>{{ ciudades[calificacion.destino_id - 1].nombre }}</td>
									<td>{{ calificacion.fecha }}</td>
									<td>{{ calificacion.hora_salida }}hs</td>
									<td>$ {{ calificacion.precio }}</td>
									<td>{{ calificacion.duracion }} horas</td>
									<td>{{ calificacion.distancia }} kms</td>
									<td>
										<form method="post" class="pull-left" action="index.php?action=calificarPiloto">
											<input type="hidden" name="viaje_id" value="{{ calificacion.id }}">	
											<input type="hidden" name="usuario_id" value="{{ calificacion.usuario_id }}">
											<input type="submit" class="btn btn-primaryPink" value="Calificar">
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h3>No tienes calificaciones pendientes a pilotos</h3>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="container well">
	<div id="calificacionesPendientesACopilotos" class="row">
		<div class="col-sm-12 col-sm-offset-0 text-center">
			<h2>Calificaciones pendientes a copilotos</h2>
			<button id="boton4" class="btn btn-primaryPink" onclick="toggleVisibility('calificacionesPendientesACopilotosTable', 'boton4')">Ver detalles</button>
			<div id="calificacionesPendientesACopilotosTable" hidden>
				{% if calificacionesPendientesACopilotos %}
					<table class="table table-striped">	
						<thead>
							<tr>
								<th scope="col">Copiloto</th>
								<th scope="col">Origen</th>
								<th scope="col">Destino</th>
								<th scope="col">Fecha</th>
								<th scope="col">Hora de salida</th>
								<th scope="col">Precio</th>
								<th scope="col">Duracion</th>
								<th scope="col">Distancia</th>
								<th scope="col">Calificar</th>
							</tr>
						</thead>
						<tbody>
							{% for calificacion in calificacionesPendientesACopilotos %}
								<tr>
									<td><a href="#">{{ calificacion.email }}</a></td>
									<td>{{ ciudades[calificacion.origen_id - 1].nombre }}</td>
									<td>{{ ciudades[calificacion.destino_id - 1].nombre }}</td>
									<td>{{ calificacion.fecha }}</td>
									<td>{{ calificacion.hora_salida }}hs</td>
									<td>$ {{ calificacion.precio }}</td>
									<td>{{ calificacion.duracion }} horas</td>
									<td>{{ calificacion.distancia }} kms</td>
									<td>
										<form method="post" class="pull-left" action="index.php?action=calificarCopiloto">
											<input type="hidden" name="viaje_id" value="{{ calificacion.id }}">	
											<input type="hidden" name="usuario_id" value="{{ calificacion.usuario_id }}">
											<input type="submit" class="btn btn-primaryPink" value="Calificar">
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h3>No tienes calificaciones pendientes a copilotos</h3>
				{% endif %}
			</div>
		</div>
	</div>	
</div>

{% endblock %}
