{% extends "base_session.html.twig" %}

{% block title %}
Inicio
{% endblock %}

{% block stylesheets %}
<script src="./templates/js/publicarViaje.js"></script>
{% endblock %}

{% block container %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-sm-offset-0 text-center well">
			<div id="publicar_viaje" class="col-xs-4 col-md-4 col-lg-4">
				<div class="row">				
					<div class="col-sm-12 col-sm-offset-12 pull-right well">
						<button id="botonCambio" type="button" class="btn btn-primaryPink text-align:center">Cambiar a periodico</button>
						<div id="ocasional">
							<form method="post" action="./?action=crear_viajeOcasional" onsubmit="return validarDatos()">
								<div class="form-group">
									<p class="text-align: center h3"> Crear viaje ocasional</p>
									<br>
									<label for="">Fecha</label>
									<input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha" required>
								</div>
								<div class="form-group">
									<label for="">Precio</label>
									<input type="text" class="form-control" id="precio" name="precio" placeholder="Precio" required>
								</div>

								<div class="form-group">
									<label for="">Hora de salida</label>
									<input type="time" class="form-control" id="hora_salida" name="hora_salida" placeholder="Hora de salida" required>
								</div>
								<div class="form-group">
									<label for="">Duracion</label>
									<input type="text" class="form-control" id="duracion" name="duracion" placeholder="Duracion" required>
								</div>

								<div class="form-group">
									<label for="">Distancia</label>
									<input type="text" class="form-control" id="distancia" name="distancia" placeholder="Distancia" required>
								</div>
								<div class="form-group">
									<label for="">Asientos</label>
									<input type="text" class="form-control" id="asientos" name="asientos" placeholder="Asientos" required>
								</div>	
								<div class="form-group">
									<label for="">Origen</label>
									<select class="form-control" id="origen" name="origen" required>
										{% if vectorForm is defined %} 
											{% for each in vectorForm.ciudades %}
												<option value="{{ each.id }}">{{ each.nombre }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Destino</label>
									<select class="form-control" id="destino" name="destino">
										{% if vectorForm is defined %} 
											{% for each in vectorForm.ciudades %}
												<option value="{{ each.id }}">{{ each.nombre }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Vehiculo</label>
									<select class="form-control" id="vehiculo" name="vehiculo" required>
										{% if vectorForm is defined %} 
											{% for each in vectorForm.vehiculos %}
												<option value="{{ each.id }}">{{ each.marca }} - {{ each.patente }} - con {{ each.asientos }} asientos</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Comentarios</label>
									<input type="textarea" class="form-control" id="comentarios" name="comentarios" placeholder="comentarios" required>
								</div>	
								<cr>
								<button type="submit" class="btn btn-primaryPink">Submit</button>
							</form>
						</div>
						<div id="periodico" style="display: none"> 
							<form method="post" action="./?action=crear_viajePeriodico">
								<div class="form-group">
									<p class="text-align: center h3"> Crear viaje periodico</p>
									<br>
									<label for="">Fecha</label>
									<input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha" required>
								</div>
								<div class="form-group">
									<label for="">Precio</label>
									<input type="text" class="form-control" id="precio" name="precio" placeholder="Precio" required>
								</div>

								<div class="form-group">
									<label for="">Hora de salida</label>
									<input type="text" class="form-control" id="hora_salida" name="hora_salida" placeholder="Hora de salida" required>
								</div>
								<div class="form-group">
									<label for="">Duracion</label>
									<input type="text" class="form-control" id="duracion" name="duracion" placeholder="Duracion" required>
								</div>

								<div class="form-group">
									<label for="">Distancia</label>
									<input type="text" class="form-control" id="duracion" name="duracion" placeholder="Distancia" required>
								</div>
								<div class="form-group">
									<label for="">Asientos</label>
									<input type="text" class="form-control" id="asientos" name="asientos" placeholder="Asientos" required>
								</div>		
								<div class="form-group">
									<label for="">Origen</label>
									<select class="form-control" id="origen" name="origen" required>
										{% if vectorForm is defined %} 
											{% for each in vectorForm.ciudades %}
												<option value="{{ each.id }}">{{ each.nombre }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>	
								<div class="form-group">
									<label for="">Destino</label>
									<select class="form-control" id="destino" name="destino">
										{% if vectorForm is defined %} 
											{% for each in vectorForm.ciudades %}
												<option value="{{ each.id }}">{{ each.nombre }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Vehiculo</label>
									<select class="form-control" id="vehiculo" name="vehiculo" required>
										{% if vectorForm is defined %} 
											{% for each in vectorForm.vehiculos %}
												<option value="{{ each.id }}">{{ each.marca }} - {{ each.patente }} - con {{ each.asientos }} asientos</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Fecha final</label>
									<input type="date" class="form-control" id="final" name="final" placeholder="Fecha" required>
								</div>
								<div class="form-group">
									<table class="table">	
										<tbody>
											<tr>
												<div>
													<td></td>
													<td class="h4">Dias</td>
													<td></td>
													<td class="h4">Horarios</td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="lunes" value=""></td>
													<td><label>Lunes</label></td>
												</div>
												<div class="form-group">
													<td><label for="">Hora: </label></td>
													<td><input type="textarea" class="form-control" id="hora_lunes" name="hora_lunes" placeholder="hora lunes"></td>
												</div>	
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="martes" value=""></td>
													<td><label>Martes</label></td>
												</div>
												<div class="form-group">
													<td><label for="">Hora: </label></td>
													<td><input type="textarea" class="form-control" id="hora_martes" name="hora_martes" placeholder="hora martes"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="miercoles" value=""></td>
													<td><label>Miercoles</label></td>
												</div>
												<div class="form-group">
													<td><label for="">Hora: </label></td>
													<td><input type="textarea" class="form-control" id="hora_miercoles" name="hora_miercoles" placeholder="hora miercoles"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="jueves" value=""></td>
													<td><label>Jueves</label></td>
												</div>
												<div class="form-group">
													<td><label for="">Hora: </label></td>
													<td><input type="textarea" class="form-control" id="hora_jueves" name="hora_jueves" placeholder="hora jueves"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="viernes" value=""></td>
													<td><label>Viernes</label></td>
												</div>
												<div class="form-group">
													<td><label for="">Hora: </label></td>
													<td><input type="textarea" class="form-control" id="hora_viernes" name="hora_viernes" placeholder="hora viernes"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="sabado" value=""></td>
													<td><label>Sabado</label></td>
												</div>
												<div class="form-group">
													<td><label for="">Hora: </label></td>
													<td><input type="textarea" class="form-control" id="hora_sabado" name="hora_sabado" placeholder="hora sabado"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="domingo" value=""></td>
													<td><label>Domingo</label></td>
												</div>
												<div class="form-group">
													<td><label for="">Hora: </label></td>
													<td><input type="textarea" class="form-control" id="hora_domingo" name="hora_domingo" placeholder="hora domingo"></td>
												</div>
											</tr>
										</tbody>
									</table>	
								</div>
								<div class="form-group">
									<label for="">Comentarios</label>
									<input type="textarea" class="form-control" id="comentarios" name="comentarios" placeholder="comentarios" required>
								</div>	
								<cr>
								<button type="submit" class="btn btn-primaryPink">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>	
			<div id="buscador" class="col-xs-2 col-md-2 col-lg-2">
				<div class="row" >
					<div class="col-sm-11 col-sm-offset-11 pull-right well">
						<form id="buscador" action="./?action=buscando" method="POST">
							<div class="form-group">
								<label for="exampleInputPassword1">Origen</label>
								<input type="text" class="form-control" id="origen" name="origen" placeholder="Origen" required>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Destino</label>
								<input type="text" class="form-control" id="destino" name="destino" placeholder="Donde quieres ir?">
							</div>
							<div class="form-check">
								<label for="exampleCheck1">Fecha de salida</label>
								<input type="date" class="form-check-input" id="salida" name="salida" required>
							</div>	
							<br>
							<button type="submit" class="btn btn-primaryPink">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div id="viajes_actuales" class="col-xs-6 col-md-6 col-lg-6">
				<div class="row">
					<div class="col-sm-11 col-sm-offset-11 pull-right well">
						<p>	No hay viajes disponibles	</p>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>


{% endblock %}