{% extends "base_session.html.twig" %}

{% block title %}
Inicio
{% endblock %}

{% block stylesheets %}
<script src="./templates/js/publicarViaje.js"></script>
<script src="./templates/js/validarBusqueda.js"></script>
{% endblock %}

{% block container %}

<div class="container">
	{% include 'errno.html.twig' %}
	<div class="row">
		<div class="col-sm-12 col-sm-offset-0 text-center ">
			<div id="publicar_viaje" class="col-xs-3 col-md-3 col-lg-3">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-12 pull-right well">
						<button id="botonCambio" type="button" class="btn btn-primaryPink text-align:center">Cambiar a periodico</button>
						<div id="ocasional">
							<form method="post" action="./?action=crear_viajeOcasional" onsubmit="return validarDatos()">
								<div class="form-group">
									<p class="text-align: center h3"> Crear viaje ocasional</p>
									<br>
									<label for="">Fecha</label>
									<input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha" required>
								</div>
								<div class="form-group">
									<label for="">Precio</label>
									<input type="text" class="form-control" id="precio" name="precio" placeholder="Precio" required>
								</div>

								<div class="form-group">
									<label for="">Hora de salida</label>
									<input type="time" class="form-control" id="hora_salida" name="hora_salida" placeholder="Hora de salida" required>
								</div>
								<div class="form-group">
									<label for="">Duracion (en horas)</label>
									<input type="text" class="form-control" id="duracion" name="duracion" placeholder="Duracion" required>
								</div>

								<div class="form-group">
									<label for="">Distancia</label>
									<input type="text" class="form-control" id="distancia" name="distancia" placeholder="Distancia" required>
								</div>
								<div class="form-group">
									<label for="">Origen</label>
									<select class="form-control" id="origen" name="origen" required>
										{% if vectorForm is defined %}
											{% for each in ciudadesOrdenadas %}
												<option value="{{ each.id }}">{{ each.nombre }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Destino</label>
									<select class="form-control" id="destino" name="destino" required>
										{% if vectorForm is defined %}
											{% for each in ciudadesOrdenadas %}
												<option value="{{ each.id }}">{{ each.nombre }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Vehiculo</label>
									<select class="form-control" id="vehiculo" name="vehiculo" required>
										{% if vectorForm is defined %}
											{% for each in vectorForm.vehiculos %}
												<option value="{{ each.id }}">{{ each.marca }}-{{ each.patente }}-con {{ each.asientos }} asientos</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Comentarios</label>
									<textarea class="form-control" id="comentarios" name="comentarios" placeholder="Comentarios" rows="5"></textarea>
								</div>
								<cr>
								<button type="submit" class="btn btn-primaryPink">Publicar!</button>
							</form>
						</div>
						<div id="periodico" style="display: none">
							<form method="post" action="./?action=crear_viajePeriodico">
								<div class="form-group">
									<p class="text-align: center h3"> Crear viaje periodico</p>
									<br>
									<label for="">Fecha de inicio</label>
									<input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha" required>
								</div>
								<div class="form-group">
									<label for="">Fecha final</label>
									<input type="date" class="form-control" id="fechaFinal" name="fechaFinal" placeholder="fechaFinal" required>
								</div>
								<div class="form-group">
									<label for="">Precio</label>
									<input type="text" class="form-control" id="precio" name="precio" placeholder="Precio" required>
								</div>
								<div class="form-group">
									<label for="">Duracion (en horas)</label>
									<input type="text" class="form-control" id="duracion" name="duracion" placeholder="Duracion" required>
								</div>

								<div class="form-group">
									<label for="">Distancia</label>
									<input type="text" class="form-control" id="distancia" name="distancia" placeholder="Distancia" required>
								</div>
								<div class="form-group">
									<label for="">Origen</label>
									<select class="form-control" id="origen" name="origen" required>
										{% if vectorForm is defined %}
											{% for each in ciudadesOrdenadas %}
												<option value="{{ each.id }}">{{ each.nombre }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Destino</label>
									<select class="form-control" id="destino" name="destino" required>
										{% if vectorForm is defined %}
											{% for each in ciudadesOrdenadas %}
												<option value="{{ each.id }}">{{ each.nombre }}</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label for="">Vehiculo</label>
									<select class="form-control" id="vehiculo" name="vehiculo" required>
										{% if vectorForm is defined %}
											{% for each in vectorForm.vehiculos %}
												<option value="{{ each.id }}">{{ each.marca }}-{{ each.patente }}-con {{ each.asientos }} asientos</option>
											{% endfor %}
										{% endif %}
									</select>
								</div>
								<!--<div class="form-group">
									<br>
									<h4> El viaje periodico dura 1 semana</h4>
									<label for="">Fecha final</label>
									<input type="date" class="form-control" id="final" value="" disabled
								</div>-->
								<div class="form-group">
									<table class="table">
										<tbody>
											<tr>
												<div>
													<td></td>
													<td class="h4">Dias</td>
													<td class="h4">Horarios</td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="lunes" onchange="toggleTextArea('lunes');"value=""></td>
													<td><label>Lunes</label></td>
												</div>
												<div class="form-group">
													<td><input type="time" class="form-control hora_lunes" id="hora_lunes" name="hora_lunes" style="display: none" placeholder="hora lunes"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="martes" onchange="toggleTextArea('martes');"value=""></td>
													<td><label>Martes</label></td>
												</div>
												<div class="form-group" id="hora_martes" name="hora_martes" style="display: none">
													<td><input type="time" class="form-control hora_martes" id="hora_martes" name="hora_martes" style="display: none" placeholder="hora martes"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="miercoles" onchange="toggleTextArea('miercoles');" value=""></td>
													<td><label>Miercoles</label></td>
												</div>
												<div class="form-group" id="hora_miercoles" name="hora_miercoles" style="display: none">
													<td><input type="time" class="form-control hora_miercoles" id="hora_miercoles" name="hora_miercoles" style="display: none" placeholder="hora miercoles"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="jueves" onchange="toggleTextArea('jueves');" value=""></td>
													<td><label>Jueves</label></td>
												</div>
												<div class="form-group" id="hora_jueves" name="hora_jueves" style="display: none">
													<td><input type="time" class="form-control hora_jueves" id="hora_jueves" name="hora_jueves" style="display: none" placeholder="hora jueves"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="viernes" onchange="toggleTextArea('viernes');" value=""></td>
													<td><label>Viernes</label></td>
												</div>
												<div class="form-group" id="hora_viernes" name="hora_viernes" style="display: none">
													<td><input type="time" class="form-control hora_viernes" id="hora_viernes" name="hora_viernes" style="display: none" placeholder="hora viernes"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="sabado" onchange="toggleTextArea('sabado');" value=""></td>
													<td><label>Sabado</label></td>
												</div>
												<div class="form-group" id="hora_sabado" name="hora_sabado" style="display: none">
													<td><input type="time" class="form-control hora_sabado" id="hora_sabado" name="hora_sabado" style="display: none" placeholder="hora sabado"></td>
												</div>
											</tr>
											<tr>
												<div class="checkbox">
													<td><input type="checkbox" id="domingo" onchange="toggleTextArea('domingo');" value=""></td>
													<td><label>Domingo</label></td>
												</div>
												<div class="form-group" id="hora_domingo" name="hora_domingo" style="display: none">
													<td><input type="time" class="form-control hora_domingo" id="hora_domingo" name="hora_domingo" style="display: none" placeholder="hora domingo"></td>
												</div>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="form-group">
									<label for="">Comentarios</label>
									<textarea class="form-control" id="comentarios" name="comentarios" placeholder="Comentarios" rows="5"></textarea>
								</div>
								<cr>
								<button type="submit" class="btn btn-primaryPink">Publicar!</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="buscador" class="col-xs-9 col-md-9 col-lg-9">
				<div class="row" >
					<div class="col-sm-11 col-sm-offset-11 pull-right well">
						<form id="buscador" action="./?action=buscando" method="POST" onsubmit="return validarDatosDeBusqueda()">
							<div class="form-group col-lg-3">
									<label for="">Origen</label>
									<select class="form-control" id="origen1" name="origen" required>
										<option value="" selected></option>
										{% for each in ciudadesOrdenadas %}
											<option value="{{ each.id }}">{{ each.nombre }}</option>
										{% endfor %}
									</select>
							</div>
							<div class="form-group col-lg-3">
									<label for="">Destino</label>
									<select class="form-control" id="destino1" name="destino">
										<option value="" selected></option>
										{% for each in ciudadesOrdenadas %}
											<option value="{{ each.id }}">{{ each.nombre }}</option>
										{% endfor %}
									</select>
							</div>
							<div class="form-check col-lg-3">
								<label for="exampleCheck1">Fecha de salida</label>
								<input type="date" class="form-check-input" id="salida1" name="salida" required>
							</div>
							<br>
							<button type="submit" class="btn btn-primaryPink col-lg-3">Buscar!</button>
						</form>
					</div>
				</div>
			</div>
			<div id="viajes_actuales" class="col-xs-9 col-md-9 col-lg-9">
				<div class="row">
					<div class="col-sm-11 col-sm-offset-11 pull-right well">
					{% if datos.listadoCompletoDeViajes is defined %}
						<h3 style="text-align:center; color:black;"> Proximos viajes </h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<td scope="col"><strong>Origen</strong></td>
										<td scope="col"><strong>Destino</strong></td>
										<td scope="col"><strong>Fecha</strong></td>
										<td scope="col"><strong>Precio</strong></td>
										<td scope="col"><strong>Hora de Salida</strong></td>
										<td scope="col"></td>
									</tr>
								</thead>
								<tbody>
								{% for viaje in datos.listadoCompletoDeViajes %}
									<tr>
										<td>{{ vectorForm.ciudades[viaje.origen_id - 1].nombre }}</td>
										<td>{{ vectorForm.ciudades[viaje.destino_id - 1].nombre }}</td>
										<td>{{ viaje.fecha }}</td>
										<td>${{ (viaje.precio/(viaje.lugares)) | round(2, 'floor') }} por persona</td>
										<td>{{ viaje.hora_salida }} hs</td>
										<td>
											<form method="post" class="pull-left" action="index.php?action=ver_publicacion_viaje">
												<input type="hidden" name="id" value="{{ viaje.id }}">
												<input type="submit" class="btn btn-primaryPink"  value="Ver viaje">
											</form>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
					{% else %}
						<p style="text-align:center; color:black;"> {{ datos.mensajeDeResultado }} </p>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
