{% extends "base_session.html.twig" %}

{% block title %}
Detalles de viaje
{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 text-center well">
            <div>
                <table class="table table-striped">
                    <tr> 
                        <td><h2>Datos basicos</h2></td> 
                        <td><h3>Origen: {{ ciudades[viaje.viaje.id_origen -1].nombre }}</h3></td>
                        <td><h3>Destino: {{ ciudades[viaje.viaje.id_destino -1].nombre }}</h3></td>
                        <td><h3>Fecha: {{ viaje.viaje.fecha }}</h3></td>
                    </tr>
                    <tr>
                        <td><h4>Datos generales</h4></td>  
                        <td><a href="#">Piloto: {{ piloto.nombre }} {{ piloto.apellido }} {{ piloto.email }}</a></td>
                        <td>Hora de salida: {{ viaje.ocasional.hora_salida }}</td>
                        <td>Precio: ${{ (viaje.viaje.precio/(vehiculo.asientos)) | round(2, 'floor') }}</td>
                    </tr>
                    <tr>
                        <td><h4>Datos extras</h4></td>
                        <td>Duracion: {{ viaje.viaje.duracion }} horas</td>
                        <td>Distancia: {{ viaje.viaje.distancia }} kms</td>
                        <td>Cantidad de postulados: {{ cantPostulados }}</td>
                    </tr>
                    <tr>
                        <td><h4>Datos del vehiculo</h4></td>
                        <td>Cantidad de asientos: {{ vehiculo.asientos-1 }}</td>
                        <td>Marca: {{ vehiculo.marca }}</td>
                        <td>Modelo: {{ vehiculo.modelo }}</td>
                    </tr>
                    {#<tr>
                        <td></td><td></td><td></td><td></td>
                    </tr>#}
                    <tr>
                        <td></td>
                        {% if usuario == piloto.id %}
                            <td>
                                <div>
                                    <form method="post" class="" action="index.php?action=confirmarEliminarViaje&id={{ viaje.viaje.id }}">
                                    <input type="hidden" name="id" value="{{ viaje.viaje.id }}">
                                    <input type="submit" class="btn btn-primaryPink"  value="Eliminar">
                                    </form>
                                </div>
                            </td>
                            {% if postulados|length == 0 %}
                                <td>
                                    <div>
                                        <form method="post" class="" action="index.php?action=modificar_viaje_ocasional">
                                            <input type="hidden" name="id" value="{{ viaje.viaje.id }}">
                                            <input type="submit" class="btn btn-primaryPink"  value="Modificar">
                                        </form>
                                    </div>
                                </td>
                            {% else %}
                                <td>
                                    <div>
                                        <p>Este viaje tiene postulantes, no puede ser modificado</p>
                                    </div>
                                </td>
                            {% endif %}
                        {% else %}    
                            <td></td><td></td>
                        {% endif %}
                        <td></td>
                    </tr>
                </table>
                {% if viaje.viaje.comentarios %}
                    <h4> Comentarios: {{ viaje.viaje.comentarios }} </h4>
                {% endif %}
            </div>
            <br>
            <div>
            {% if usuario == piloto.id %}
                {% if postulados %}
                <h3>Postulados</h3>
                <table class="table table-striped">
                    <thead>
                        <td>Nombre y Apellido</td>
                        <td>Calificaciones</td>
                        <td>Estado</td>
                        <td>Aceptar</td>
                        <td>Cancelar</td>
                    </thead>
                    <tbody>
                        {% for postulado in postulados %}
                            <td>
                                <a href="">{{ postulado.nombre }} {{ postulado.apellido }} </a>
                            </td>
                            <td>CALIFICACIONES</td>
                            <td>{{ postulado.estado }}</td>
                            <td>
                            {% if postulado.estado != 'Aceptado' %}
                            
                                <form method="post" class="" action="./?action=aceptarPostulado"> {# ACA SE ACEPTA UN POSTULANTE #}
                                    <input type="hidden" name="id" value="{{ viaje.viaje.id }}">
                                    <input type="hidden" name="id_usuario" value="{{ postulado.id }}">
                                    <input type="submit" class="btn btn-primaryPink"  value="Aceptar">
                                </form>
                            {% else %}
                                <h5>Ya fue aceptado</h5>
                            {% endif %}
                            </td>
                            {% if postulado.estado == 'Pendiente' %}
                                <td>
                                    <form method="post" class="" action="./index.php"> {# ACA SE RECHAZA UN POSTULANTE #}
                                        <input type="hidden" name="id" value="{{ viaje.viaje.id }}"> {# falta #}
                                        <input type="hidden" name="id" value="{{ postulado.id }}"> {# falta #}
                                        <input type="submit" class="btn btn-primaryPink"  value="Cancelar">
                                    </form>
                                </td>
                            {% elseif postulado.estado == 'Aceptado' %}
                                <td>
                                    <form method="post" class="" action="./index.php"> {# ACA SE RECHAZA UN POSTULANTE YA ACEPTADO#}
                                        <input type="hidden" name="id" value="{{ viaje.viaje.id }}"> {# falta #}
                                        <input type="hidden" name="id" value="{{ postulado.id }}"> {# falta #}
                                        <input type="submit" class="btn btn-primaryPink"  value="Rechazar">
                                    </form>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h3>No se poseen postulantes para este viaje</h3>
                {% endif %}
            {% elseif postulado %}
                {% if postulado.0.estado=="Pendiente" %}
                    <form method="post" class="text-center" action="./?action=cancelar_postulacion">
                        <input type="hidden" name="id" value="{{ viaje.viaje.id }}">
                        <input type="submit" class="btn btn-primaryPink"  value="Cancelar">
                    </form>
                    <h5>Estado: {{ postulado.0.estado }}</h5>
                {% elseif postulado.0.estado=="Aceptado" %}
                    <h5>Aceptado!</h5>
                    <form method="post" class="text-center" action="./?action=cancelar_postulacion_aceptada">
                        <input type="hidden" name="id" value="{{ viaje.viaje.id }}">
                        <input type="submit" class="btn btn-primaryPink"  value="Cancelar">
                    </form>
                {% endif %}
            {% else %}
                <form method="post" class="text-center" action="./?action=postularse">
                    <input type="hidden" name="id" value="{{ viaje.viaje.id }}">
                    <input type="submit" class="btn btn-primaryPink"  value="Postularme!">


                    {# cuando se postula deberia revisar si ya esta postulado y en caso de estarlo mostrar despostularse #}


                </form>
            {% endif %}
            </div>
            <p>

            </p>
            <div id="preguntas">
{% if viaje.viaje.id % 2 == 0 %}
                <div>
                    <div class="well text-left">
                        <h4>UN USUARIO</h4>
                        <p>hola, queria saber algo...</p>
                        <div class="well">
                            <p>yo solo se que no se nada</p>
                        </div>
                    </div>
                    <div class="well text-left">
                        <h4>Otro gato</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit est, maximus ut egestas sed, porttitor id mauris. Sed facilisis faucibus rhoncus. Etiam volutpat, quam quis posuere varius, ligula risus sodales est, vel luctus turpis nisl quis ante. In dapibus leo purus, id posuere ligula tincidunt sed. Maecenas dui lacus, tristique eu nibh eget, facilisis maximus augue. Integer eget mauris id dui congue lacinia. Sed nec fringilla mauris, vel sodales massa. Pellentesque magna felis, varius eu tristique non, ultricies non tellus. Nunc facilisis pulvinar varius. Quisque vel volutpat libero, et hendrerit arcu. Nunc id eleifend nisl. </p>
                        {% if usuario == piloto.id %}
                            <div class="well">
                                <form method="post" class="text-left" action="#">
                                    <div class="form-group">
                                        <label for="respuesta">Respuesta:</label>
                                        <textarea class="form-control" rows="5" id="respuesta" placeholder="Ingrese su respuesta" name="respuesta" required></textarea>
                                    </div> 
                                    <input type="submit" class="btn btn-primaryPink"  value="Responder!">
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
{% else %}
    <div class="well text-center">
            <h3>Todavia no se realizaron preguntas!</h3>
    </div>
{% endif %}
                {% if usuario != piloto.id %}
                    <div class="well text-left">
                        <form method="post" class="text-center" action="#">
                            <div class="form-group">
                                <label for="respuesta">Pregunta:</label>
                                <textarea class="form-control" rows="5" id="respuesta" placeholder="Ingrese su pregunta" name="pregunta" required></textarea>
                            </div> 
                            <input type="submit" class="btn btn-primaryPink"  value="Preguntar!">
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}