{% extends "base.html.twig" %}

{% block title %}
Detalles de viaje
{% endblock %}

{% block container %}
<div class="container">
    {% include 'errno.html.twig' %}
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 text-center well">
            <div>
                <form id="" action="index.php" method="POST">
                    <input type="submit" class="btn btn-primaryPink" value="Volver a inicio">
                </form>
            </div>
            {% if busqueda.origen is defined %}
                <br>
                <div>
                    <form id="buscador" action="./?action=buscando" method="POST">
                        <input type="hidden" name="origen" value="{{ busqueda.origen }}">
                        <input type="hidden" name="destino" value="{{ busqueda.destino }}">
                        <input type="hidden" name="salida" value="{{ busqueda.salida }}">
                        <input type="submit" class="btn btn-primaryPink"  value="Volver a mi busqueda">
                    </form>
                </div>
                <br>
            {% endif %}
            <div>
                <h3>Debe autenticarse para postularse o realizar preguntas!</h3>
                <a class="nav-link btn btn-primaryPink" href="index.php?action=registrarse">Registrarse</a>
            </div>
            <br>
            <div>
                <table class="table table-striped">
                    <tr> 
                        <td><h2>Datos basicos</h2></td> 
                        <td><h3>Origen: {{ ciudades[viaje.origen_id -1].nombre }}</h3></td>
                        <td><h3>Destino: {{ ciudades[viaje.destino_id -1].nombre }}</h3></td>
                        <td><h3>Fecha: {{ viaje.fecha }}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Datos generales</h3></td>  
                        <td>Piloto: {{ piloto.nombre }} {{ piloto.apellido }} {{ piloto.email }}</a></td>
                        <td>Hora: {{ viaje.hora_salida }} horas</td>
                        <td>Precio: ${{ (viaje.precio/(vehiculo.asientos)) | round(2, 'floor') }}</td>
                    </tr>
                    <tr>
                        <td><h3>Datos extras</h3></td>
                        <td>Duracion: {{ viaje.duracion }} horas</td>
                        <td>Distancia: {{ viaje.distancia }}km</td>
                        <td>Cantidad de postulados: {{ cantPostulados }}</td>
                    </tr>
                    <tr>
                        <td><h3>Datos del vehiculo</h3></td>
                        <td>Cantidad de asientos: {{ vehiculo.asientos }} </td>
                        <td>Marca: {{ vehiculo.marca }}</td>
                        <td>Modelo: {{ vehiculo.modelo }}</td>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                </table>
                {% if viaje.comentarios %}
                    <div class="text-left">
                        <h4>Comentarios: </h4>
                        <h5>{{ viaje.comentarios }}</h5>
                    </div>
                {% endif %}
            </div>
            <br>
            <div id="preguntas">
                {% if preguntasYrespuestas|length > 0 %}
                    <div>
                        {% for pyr in preguntasYrespuestas %}

                            <div class="well text-left">
                                <h4>{{ pyr.nombre}} {{ pyr.apellido }} - {{ pyr.email}}</h4>
                                <p>{{ pyr.pregunta }}</p>
                                {% if pyr.respuesta is not null %}
                                    <div class="well">
                                        <p>{{ pyr.respuesta }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="well text-center">
                        <h3>Todavia no se realizaron preguntas!</h3>
                    </div>
                {% endif %}
                <div class="well text-center">
                    <h3>Debe iniciar sesion para poder realizar preguntas al piloto!</h3>
                    <a class="btn btn-primaryPink" style="width:15em;" href="index.php?action=login">Iniciar sesion</a>
                    <a class="btn btn-primaryPink" style="width:15em;" href="index.php?action=registrarse">Todavia no me registre!</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}