{% extends "base.html.twig" %}

{% block title %}
Detalles de viaje
{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 text-center well">
            <div>
                <h3>Debe autenticarse para postularse o realizar preguntas!</h3>
                <a class="nav-link btn btn-primaryPink" href="index.php?action=registrarse">Registrarse</a>
            </div>
            <br>
            <div>
                <table class="table table-striped">
                    <tr> 
                        <td><h2>Datos basicos</h2></td> 
                        <td><h3>Origen: {{ ciudades[viaje.viaje.id_origen -1].nombre }}</h3></td>
                        <td><h3>Destino: {{ ciudades[viaje.viaje.id_destino -1].nombre }}</h3></td>
                        <td><h3>Fecha: {{ viaje.viaje.fecha }}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Datos generales</h3></td>  
                        <td><a href="#">Piloto: {{ piloto.nombre }} {{ piloto.apellido }} {{ piloto.email }}</a></td>
                        <td>Hora: {{ viaje.ocasional.hora_salida }}</td>
                        <td>Precio: {{ (viaje.viaje.precio/(vehiculo.asientos)) | round(2, 'floor') }}</td>
                    </tr>
                    <tr>
                        <td><h3>Datos extras</h3></td>
                        <td>Duracion: {{ viaje.viaje.duracion }}</td>
                        <td>Distancia: {{ viaje.viaje.distancia }}</td>
                        <td>Cantidad de postulados: {{ cantPostulados }}</td>
                    </tr>
                    <tr>
                        <td><h3>Datos del vehiculo</h3></td>
                        <td>Cantidad de asientos: {{ vehiculo.asientos }}</td>
                        <td>Marca: {{ vehiculo.marca }}</td>
                        <td>Modelo: {{ vehiculo.modelo }}</td>
                    </tr>
                    <tr>
                        <td></td><td></td><td></td><td></td>
                    </tr>
                </table>
                {% if viaje.viaje.comentarios %}
                           Comentarios: {{ viaje.viaje.comentarios }}
                {% endif %}
            </div>
            <br>
            <div id="preguntas">
{% if viaje.viaje.id % 2 == 0 %}
                <div>
                    <div class="well text-left">
                        <h4>UN USUARIO</h4>
                        <p>hola, queria saber algo...</p>
                        <div class="well">
                            <p>yo solo se que no se nada</p>
                        </div>
                    </div>
                    <div class="well text-left">
                        <h4>Otro gato</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit est, maximus ut egestas sed, porttitor id mauris. Sed facilisis faucibus rhoncus. Etiam volutpat, quam quis posuere varius, ligula risus sodales est, vel luctus turpis nisl quis ante. In dapibus leo purus, id posuere ligula tincidunt sed. Maecenas dui lacus, tristique eu nibh eget, facilisis maximus augue. Integer eget mauris id dui congue lacinia. Sed nec fringilla mauris, vel sodales massa. Pellentesque magna felis, varius eu tristique non, ultricies non tellus. Nunc facilisis pulvinar varius. Quisque vel volutpat libero, et hendrerit arcu. Nunc id eleifend nisl. </p>
                    </div>
                </div>
{% else %}
    <div class="well text-center">
            <h3>Todavia no se realizaron preguntas!</h3>
    </div>
{% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}