{% extends "base_session.html.twig" %}

{% block title %}
Detalles de viaje
{% endblock %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 text-center well">
            {% if busqueda.origen is defined %}
                <div>
                    <form id="buscador" action="./?action=buscando" method="POST">
                        <input type="hidden" name="origen" value="{{ busqueda.origen }}">
                        <input type="hidden" name="destino" value="{{ busqueda.destino }}">
                        <input type="hidden" name="salida" value="{{ busqueda.salida }}">
                        <input type="submit" class="btn btn-primaryPink" value="Volver a mi busqueda">
                    </form>
                </div>
                <br>
            {% else %}
              {#  {% if usuario == piloto.id %} #}
                    <div>
                        <form id="" action="index.php" method="POST">
                            <input type="submit" class="btn btn-primaryPink" value="Volver a inicio">
                        </form>
                    </div>
                    <br>
            {#    {% else %}
                    <div>
                        <form id="buscador" action="index.php" method="POST">
                            <input type="submit" class="btn btn-primaryPink" value="Volver a inicio">
                        </form>
                    </div>
                    <br>
                {% endif %}#}
            {% endif %}
            <div>
                <table class="table table-striped">
                    <tr> 
                        <td><h2>Datos basicos</h2></td> 
                        <td><h3>Origen: {{ ciudades[viaje.origen_id -1].nombre }}</h3></td>
                        <td><h3>Destino: {{ ciudades[viaje.destino_id -1].nombre }}</h3></td>
                        <td><h3>Fecha: {{ viaje.fecha }}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Datos generales</h3></td>  
                        <td>
                            <p>Piloto: <a href="index.php?action=ver_perfil_ajeno&email={{ piloto.email }}">{{ piloto.nombre }} {{ piloto.apellido }} {{ piloto.email }}</a></p>
                            <p>Calificacion: {{ piloto.calificacion_piloto }}</p>
                        </td>
                        <td>Hora de salida: {{ viaje.hora_salida }}</td>
                        <td>Precio: ${{ (viaje.precio/(vehiculo.asientos)) | round(2, 'floor') }} por persona</td>
                    </tr>
                    <tr>
                        <td><h4>Datos extras</h4></td>
                        <td>Duracion: {{ viaje.duracion }} horas</td>
                        <td>Distancia: {{ viaje.distancia }} kms</td>
                        <td>Cantidad de postulados: {{ cantPostulados }}</td>
                    </tr>
                    <tr>
                        <td><h4>Datos del vehiculo</h4></td>
                        <td>Cantidad de asientos: {{ vehiculo.asientos-1 }}</td>
                        <td>Marca: {{ vehiculo.marca }}</td>
                        <td>Modelo: {{ vehiculo.modelo }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        {% if usuario == piloto.id %}
                            <td>
                                <div>
                                    <form method="post" class="" action="index.php?action=confirmarEliminarViaje&id={{ viaje.id }}">
                                    <input type="hidden" name="id" value="{{ viaje.id }}">
                                    <input type="submit" class="btn btn-primaryPink" value="Eliminar">
                                    </form>
                                </div>
                            </td>
                            {% set cantPostuladosRechazados = 0 %}
                            {% for postulacion in postulados %}
                                {% if postulacion.estado == 'Rechazado' %}
                                    {% set cantPostuladosRechazados = cantPostuladosRechazados+1 %}
                                {% endif %}
                            {% endfor %}
                            {% if (cantPostuladosRechazados == (postulados|length)) or ((postulados|length) == 0) %}
                                <td>
                                    <div>
                                        <form method="post" class="" action="index.php?action=modificar_viaje_ocasional">
                                            <input type="hidden" name="id" value="{{ viaje.id }}">
                                            <input type="submit" class="btn btn-primaryPink" value="Modificar">
                                        </form>
                                    </div>
                                </td>
                            {% else %}
                                <td>
                                    <div>
                                        <p>Este viaje tiene postulantes, no puede ser modificado </p>
                                    </div>
                                </td>

                            {% endif %}
                        {% else %}    
                            <td></td><td></td>
                        {% endif %}
                        <td></td>
                    </tr>
                </table>
                {% if viaje.comentarios %}
                    <div class="text-left">
                        <h4>Comentarios: </h4>
                        <h5>{{ viaje.comentarios }}</h5>
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="well">
            {% if usuario == piloto.id %}
                <h3>Postulados</h3>
                {% if postulados %}
                <table class="table table-striped">
                    <thead>
                        <td>Nombre y Apellido</td>
                        <td>Calificaciones</td>
                        <td>Estado</td>
                        <td>Aceptar</td>                    
                        <td>Cancelar</td>
                    </thead>
                    <tbody>
                        {% for postulado in postulados %}
                            <tr>
                                <td>
                                    <a href="index.php?action=ver_perfil_ajeno&email={{ piloto.email }}">{{ postulado.nombre }} {{ postulado.apellido }} </a>
                                </td>
                                <td>{{ postulado.calificacion_copiloto }}</td>
                                <td>{{ postulado.estado }}</td>
                                {% if postulado.estado == 'Aceptado' %}
                                    <td>Ya fue aceptado</td>
                                    <td>
                                        {# ACA SE RECHAZA UN POSTULANTE YA ACEPTADO #}
                                        <form method="post" class="" action="./?action=rechazarPostulado"> 
                                            <input type="hidden" name="id" value="{{ viaje.id }}">
                                            <input type="hidden" name="puntaje" value="-1">
                                            <input type="hidden" name="id_usuario" value="{{ postulado.id }}">
                                            <input type="submit" class="btn btn-primaryPink" value="Rechazar" onclick="return confirm('Esta seguro que quiere rechazar la postulacion? Se le restara 1 punto de calificacion como piloto')">
                                        </form>
                                    </td>
                                {% elseif postulado.estado == 'Rechazado' %}
                                    <td>Ya fue rechazado</td><td></td>
                                {% elseif postulado.estado == 'Pendiente' %}
                                    <td>
                                        {# ACA SE ACEPTA UN POSTULANTE #}
                                        <form method="post" class="" action="./?action=aceptarPostulado">
                                            <input type="hidden" name="id" value="{{ viaje.id }}">
                                            <input type="hidden" name="id_usuario" value="{{ postulado.id }}">
                                            <input type="submit" class="btn btn-primaryPink" value="Aceptar">
                                        </form>
                                    </td>
                                    <td>
                                        {# ACA SE RECHAZA UN POSTULANTE #}
                                        <form method="post" class="" action="./?action=rechazarPostulado">
                                            <input type="hidden" name="id" value="{{ viaje.id }}">
                                            <input type="hidden" name="id_usuario" value="{{ postulado.id }}">
                                            <input type="submit" class="btn btn-primaryPink" value="Cancelar" onclick="return confirm('Esta seguro que quiere rechazar la postulacion?')">
                                        </form>
                                    </td>
                                {% else %}
                                    <td></td><td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h3>No se poseen postulantes para este viaje</h3>
                {% endif %}
            {% elseif postulado %}
                {% if postulado.0.estado=="Pendiente" %}
                    <form method="post" class="text-center" action="./?action=cancelar_postulacion">
                        <input type="hidden" name="id" value="{{ viaje.id }}">
                        <input type="submit" class="btn btn-primaryPink" value="Cancelar">
                    </form>
                    <h5>Estado: {{ postulado.0.estado }}</h5>
                {% elseif postulado.0.estado=="Aceptado" %}
                    <h5>Aceptado!</h5>
                    <form method="post" class="text-center" action="./?action=cancelar_postulacion_aceptada">
                        <input type="hidden" name="id" value="{{ viaje.id }}">
                        <input type="submit" class="btn btn-primaryPink" value="Cancelar">
                    </form>
                {% elseif postulado.0.estado=="Rechazado" %}
                    <h3>Fuiste rechazado como copiloto</h3>
                {% endif %}
            {% else %}
                <form method="post" class="text-center" action="./?action=postularse">
                    <input type="hidden" name="id" value="{{ viaje.id }}">
                    <input type="submit" class="btn btn-primaryPink" value="Postularme!">


                    {# cuando se postula deberia revisar si ya esta postulado y en caso de estarlo mostrar despostularse #}


                </form>
            {% endif %}
            </div>
            <p>

            </p>
            <div id="preguntas">
                <h3>Preguntas</h3>
                {% if preguntasYrespuestas|length > 0 %}
                    <div>
                        {% for pyr in preguntasYrespuestas %}

                            <div class="well text-left">
                                <h4>{{ pyr.nombre}} {{ pyr.apellido }} - {{ pyr.email}}</h4>
                                <p>{{ pyr.pregunta }}</p>
                                {% if pyr.respuesta is null %}
                                    {% if usuario == piloto.id %}
                                        <div class="well">
                                            <form method="post" class="text-left" action="./?action=responder_pregunta">
                                                <input type="hidden" name="pregunta_id" value="{{ pyr.id }}">
                                                <input type="hidden" name="id" value="{{ viaje.id }}">
                                                <div class="form-group">
                                                    <label for="respuesta">Respuesta:</label>
                                                    <textarea class="form-control" rows="3" id="respuesta" placeholder="Ingrese su respuesta" name="respuesta" required></textarea>
                                                </div> 
                                                <input type="submit" class="btn btn-primaryPink" value="Responder!">
                                            </form>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="well">
                                        <p>{{ pyr.respuesta }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="well text-center">
                        <h3>Todavia no se realizaron preguntas!</h3>
                    </div>
                {% endif %}
                {% if usuario != piloto.id and postulado.0.estado != "Rechazado" and postulado.0.estado != "Viaje eliminado" %}
                    <div class="well text-left">
                        <form method="post" class="text-center" action="./?action=publicar_pregunta">
                            <input type="hidden" name="id" value="{{ viaje.id }}">
                            <input type="hidden" name="usuario" value="{{ usuario }}">
                            <div class="form-group">
                                <label for="respuesta">Pregunta:</label>
                                <textarea class="form-control" rows="3" id="respuesta" placeholder="Ingrese su pregunta" name="pregunta" required></textarea>
                            </div> 
                            <input type="submit" class="btn btn-primaryPink" value="Preguntar!">
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}